@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --preferslight;
}
.container {
  @apply max-w-[1200px] mx-auto px-2.5;
}
.myInput {
  @apply w-full block p-2.5 border-2 border-black rounded-lg outline-0 my-3;
}
.mybtn {
  @apply w-[120px] h-[40px] bg-black text-white rounded-lg text-lg mt-2 cursor-pointer;
}
.myform {
  @apply w-full max-w-[500px] rounded-xl p-2.5 mx-auto my-4 shadow-lg;
}
